*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

:root {
    /* ## Colors */

    /* ### Primary */

    --Soft-red: hsl(7, 99%, 70%);
    --Yellow: hsl(51, 100%, 49%);
    --Dark-desaturated-cyan: hsl(167, 40%, 24%);
    --Dark-blue: hsl(198, 62%, 26%);
    --Dark-moderate-cyan: hsl(168, 34%, 41%);

    /* ### Neutral */

    --Very-dark-desaturated-blue: hsl(212, 27%, 19%);
    --Very-dark-grayish-blue: hsl(213, 9%, 39%);
    --Dark-grayish-blue: hsl(232, 10%, 55%);
    --Grayish-blue: hsl(210, 4%, 67%);
    --White: hsl(0, 0%, 100%);
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Fraunces', serif;
    font-size: 18px;
    line-height: 1.5;
}

a {
    text-decoration: none;
}

.top__header {
    height: 100vh;
    width: 100%;
    background: url(./images/mobile/image-header.jpg) center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
}

.top__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
}

.toggler {
    display: inline-block;
    background: url(./images/icon-hamburger.svg);
    background-size: cover;
    background-repeat: none;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.top__nav--menu {
    display: none;

}

.mobile__nav {
    display: none;
    position: absolute;
    width: 80%;

    background: var(--White);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 9;
    padding: 3rem 0;
    border-radius: 1px;
    clip-path: polygon(91% 8%, 100% 0, 100% 100%, 0 100%, 0 8%);
}

.nav-menu_item {
    margin-bottom: 2rem;
}

.mobile__nav--menu .menu_item-link {
    color: var(--Dark-grayish-blue);
}

.mobile__nav--menu {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mobile__nav--menu .active {

    background: var(--Yellow);
    color: var(--Dark-desaturated-blue);
    padding: 1rem 1.5rem;
    text-transform: uppercase;
    border-radius: 1.5rem;
}

.hero {
    width: fit-content;
    text-align: center;
    margin: 0 auto;
    margin-top: 10vh;
    position: relative;
}

.hero--title {
    width: fit-content;
    font-family: 'Fraunces', serif;
    font-size: 2.5rem;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--White);
    margin-bottom: 2.5rem;
}

.arrow {
    position: relative;
    animation: bounce 1s infinite;

    animation-timing-function: ease-in;
}

.service {
    display: flex;
    flex-direction: column-reverse;


}

.service--img {
    width: 100%;
    height: 40vh;
    object-fit: cover;
}





.service__content {
    width: 100%;
    justify-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1.5rem;
    padding: 20% 10%;

}

.service--title {
    color: var(--Very-dark-desaturated-blue);
    font-size: 1.8rem;
    line-height: 1;
}

.service--description {
    font-family: "Barlow", sans-serif;
    font-size: 1rem;
    color: var(--Dark-grayish-blue);
}

.service--description_footer {
    width: fit-content;
}


.service--btn {
    font-family: 'Fraunces', serif;
    font-weight: 700;
    font-size: 1.2rem;
    color: var(--Very-dark-desaturated-blue);
    text-transform: uppercase;
    position: relative;
    z-index: 1;
}

.service--btn::after {
    content: "";
    min-width: 110%;
    min-height: 10px;
    background-color: var(--Yellow);
    z-index: -1;
    position: absolute;
    bottom: 2px;
    left: -5%;
    border-radius: 5px;
    opacity: .4;
    transition: all .3s ease-in-out;
}

.btn-red::after {
    background-color: var(--Soft-red);
}

.service--btn:hover::after {
    opacity: 1;
}

.services__secondary {
    width: 100%;
    display: flex;
    flex-direction: column;

}

.service--secondary {
    position: relative;
    width: 100%;
    height: 100vh;
    max-height: 1200px;

}

.service--secondary-img {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    top: 0;
    bottom: 0;
    z-index: 1;
}

.service--secondary-content {
    position: absolute;
    /* width: 50%; */
    text-align: center;
    bottom: 10%;
    z-index: 2;
    padding: 0 1rem;
}

.service-secondary_title {
    font-family: "Fraunces", sans-serif;
    color: var(--Dark-desaturated-cyan);
    margin-bottom: 1.5rem;
}

.service-secondary_description {
    color: var(--Dark-desaturated-cyan);
}

.service-secondary:last-child .service-secondary_title {
    color: var(--Very-dark-desaturated-blue);
}

.service-secondary:last-child .service-secondary_description {
    color: var(--dark-blue);
}


.testimonials {
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    background-color: hsla(7, 67%, 82%, 0.048);
    padding: 4rem 2rem;
    text-align: center;
}

.testimonials--title {

    color: var(--Dark-grayish-blue);
    text-transform: uppercase;
    font-family: 'Fraunces', serif;
    font-size: 1.2rem;
    letter-spacing: 2px;
    text-align: center;
}

.testimonials--body {
    margin-top: 1.5rem;
}

.testimonial-client {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    margin-top: 2.5rem;
}

.testimonial-client img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.client_text {
    color: var(--Very-dark-desaturated-blue);
}

.client--name {
    color: var(--Very-dark-desaturated-blue);
    font-weight: 900;
    margin-bottom: .5rem;
}

.client--role {
    font-family: "Barlow", sans-serif;
    color: var(--Dark-grayish-blue);
}

.projects {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(25vw, 1fr));
    background-color: #fff;
    color: #444;
    overflow: hidden;
}


.projcet__item {}

.projcet__item a {
    display: block;
    height: 100%;
}

picture {}

.project--img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.footer {
    background: rgb(154, 228, 212);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding-top: 3rem;
    padding-bottom: 2rem;
}

.footer--logo path {

    fill: var(--Dark-desaturated-cyan);

}

.footer__nav--menu {
    list-style: none;
    display: flex;
    background: rgb(154, 228, 212);
    font-size: 1rem;
    padding: 2.5rem;
    gap: 2rem;
}

.footer_item-link,
.footer_item-link:visited {
    color: var(--Dark-desaturated-cyan);
}

.footer a:hover {
    color: var(--White);
}

.social__links {
    display: flex;
    gap: 1.5rem;
    margin: 3rem 0;
}

.social__links--icon:hover path {
    fill: var(--White);
}

.attribution,
.attribution a {
    font-size: .8rems;
    text-align: center;
    color: var(--Dark-grayish-blue);
}

.attribution a {
    text-decoration: underline;
}


@media screen and (min-width: 400px) {
    .top__header {
        background-image: url("/images/desktop/image-header.jpg");
        background-position: center center;
        background-size: cover;

    }

    /* .top__nav--logo {} */

    .top__nav--menu {
        gap: 3.5rem;
    }

    .hero {
        margin-top: 10vh;
    }

    .hero--title {
        font-size: 4VW;
    }


    .active,
    .menu_item-link:hover {
        background-color: hsla(0, 0%, 100%, 0.39);
        font-family: 'Fraunces', serif;
        font-size: 1.2rem;
        color: var(--White);
        padding: 1rem 1.5rem;
        border-radius: 2rem;
        text-transform: uppercase;

    }

    .active {
        color: var(--Very-dark-grayish-blue);
        background-color: var(--White);
    }




    .service--img {
        height: unset;
    }



    /* Footer */
    .footer {
        background: rgb(154, 228, 212);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        padding-top: 3rem;
        padding-bottom: 2rem;
    }

    .footer--logo path {

        fill: var(--Dark-desaturated-cyan);

    }

    .footer__nav--menu {
        list-style: none;
        display: flex;
        background: rgb(154, 228, 212);
        font-size: 2rem;
        padding: 2.5rem;
        gap: 2rem;
    }

    .footer_item-link,
    .footer_item-link:visited {
        color: var(--Dark-desaturated-cyan);
    }

    .footer a:hover {
        color: var(--White);
    }

    .social__links {
        display: flex;
        gap: 1.5rem;
        margin: 3rem 0;
    }


    .social__links--icon:hover path {
        fill: var(--White);
    }

}

@media screen and (min-width: 660px) {
    .toggler {
        display: none;
    }

    .top__nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1.5rem;
    }

    .top__nav--menu {
        list-style: none;
        display: flex;
        font-size: 2rem;
        gap: 2rem;
    }

    .menu_item-link {
        color: var(--White);
        font-family: "Barlow", sans-serif;
        font-size: 1.5rem;
        transition: all .3s ease-in-out;
    }

    .active {
        color: var(--Very-dark-grayish-blue);
    }

    /* services */
    .services {}

    .service {
        height: 80vh;
        overflow: hidden;
        flex-direction: row;
        justify-content: center;

    }

    .service:last-of-type {
        flex-direction: row-reverse;
    }

    .service__content {
        flex: 1;
        max-width: 50%;

        display: flex;
        flex-direction: column;
        align-items: unset;
        gap: 2.5rem;
        text-align: left;
        overflow: hidden;
        padding: 8% 8%;
    }

    .service--title {


        font-size: 4VW;
    }



    .service-image_container {
        flex: 1;
    }

    .service--img {
        width: 100%;
        height: 100%;
    }

    .services__secondary {

        flex-direction: row;
        max-height: unset;
        overflow: hidden;
    }

    .service--secondary {
        height: 80vh;

    }

    .service--secondary-img {
        display: block;
        width: 100%;
        height: 100%;
        z-index: 1;
    }

    .service--secondary-content {
        position: absolute;
        text-align: center;
        bottom: 10%;
        z-index: 2;
        padding: 0 20%;
    }

    .service-secondary_title {
        font-family: "Fraunces", sans-serif;
        color: var(--Dark-desaturated-cyan);
        margin-bottom: 1.5rem;
    }

    .service-secondary_description {
        color: var(--Dark-desaturated-cyan);
    }

    .service-secondary:last-child .service-secondary_title {
        color: var(--Very-dark-desaturated-blue);
    }

    .service-secondary:last-child .service-secondary_description {
        color: var(--dark-blue);
    }

    .testimonials {

        background-color: hsla(7, 67%, 82%, 0.048);
        padding: 10% 10%;
        text-align: center;
    }

    .testimonials--body {
        display: flex;
        gap: 2rem;
        margin-top: 1.5rem;
    }

    .projects {
        grid-template-columns: repeat(auto-fill, minmax(24vw, 1fr));
    }
}


@keyframes bounce {
    0% {
        top: 0;
    }

    50% {
        top: 20px;
    }

    100% {
        top: 0;
    }


}