*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

:root {
    /* ## Colors */

    /* ### Primary */

    --Soft-red: hsl(7, 99%, 70%);
    --Yellow: hsl(51, 100%, 49%);
    --Dark-desaturated-cyan: hsl(167, 40%, 24%);
    --Dark-blue: hsl(198, 62%, 26%);
    --Dark-moderate-cyan: hsl(168, 34%, 41%);

    /* ### Neutral */

    --Very-dark-desaturated-blue: hsl(212, 27%, 19%);
    --Very-dark-grayish-blue: hsl(213, 9%, 39%);
    --Dark-grayish-blue: hsl(232, 10%, 55%);
    --Grayish-blue: hsl(210, 4%, 67%);
    --White: hsl(0, 0%, 100%);
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Fraunces', serif;
    font-size: 18px;
    line-height: 1.5;
}

a {
    text-decoration: none;
}

.top__header {
    height: 100vh;
    background: url("/images/desktop/image-header.jpg") center center;
    background-size: cover;
    position: relative;
}

.toggler {
    display: none;
    background: url(./images/icon-hamburger.svg);
    background-size: cover;
    background-repeat: none;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.top__nav {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
}

/* .top__nav--logo {} */

.top__nav--menu {
    list-style: none;
    display: flex;
    gap: 3.5rem;
}

.menu_item-link {
    color: var(--White);
    font-family: "Barlow", sans-serif;
    font-size: 1.5rem;
    transition: all .3s ease-in-out;
}



.active,
.menu_item-link:hover {
    background-color: hsla(0, 0%, 100%, 0.39);
    font-family: 'Fraunces', serif;
    font-size: 1.2rem;
    color: var(--White);
    padding: 1rem 1.5rem;
    border-radius: 2rem;
    text-transform: uppercase;

}

.active {
    color: var(--Very-dark-grayish-blue);
    background-color: var(--White);
}

.hero {
    width: fit-content;
    text-align: center;
    margin: 0 auto;
    margin-top: 20vh;
    position: relative;
}

.hero--title {
    width: fit-content;
    font-family: 'Fraunces', serif;
    font-size: 4rem;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--White);
    margin-bottom: 3.5rem;
}

.arrow {
    position: relative;
    animation: bounce 1s infinite;

    animation-timing-function: ease-in;
}

@keyframes bounce {
    0% {
        top: 0;
    }

    50% {
        top: 20px;
    }

    /* 40% {
        top: 15px;
    }

    50% {
        top: 20;
    }

    60% {
        top: 15px;
    }

    80% {
        top: 5px;
    } */

    100% {
        top: 0;
    }


}

/* services */
.services {
    display: grid;

}

.service {
    height: 80vh;
    overflow: hidden;
    display: flex;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;

}

.service--img {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

.service-1 .service--img {
    background: url(/images/desktop/image-transform.jpg) center center;

}

.service-2 .service--img {
    background: url(/images/desktop/image-stand-out.jpg) center center;

}

.service__content {

    justify-self: center;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    padding-left: 10%;
    padding-right: 20%;

}

.service--body {}

.service--title {
    color: var(--Very-dark-desaturated-blue);
    font-size: 3.5rem;
    line-height: 1;
}

.service--description {
    font-family: "Barlow", sans-serif;
    font-size: 1.2rem;
    color: var(--Dark-grayish-blue);
}

.service--description_footer {
    width: fit-content;
}

.service--btn {
    display: block;
    font-family: 'Fraunces', serif;
    font-weight: 900;
    font-size: 1.5rem;
    color: var(--Very-dark-desaturated-blue);
    text-transform: uppercase;
    margin-top: 1.5rem;
    position: relative;
    z-index: 1;
}

.service--btn::after {
    content: "";
    min-width: 110%;
    min-height: 10px;
    background-color: var(--Yellow);
    z-index: -1;
    position: absolute;
    bottom: 2px;
    left: -5%;
    border-radius: 5px;
    opacity: .4;
    transition: all .3s ease-in-out;
}

.btn-red::after {
    background-color: var(--Soft-red);
}

.service--btn:hover::after {
    opacity: 1;
}

.service-secondary {
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 3rem;

}

.secondary-1 {

    background-image: url(/images/desktop/image-graphic-design.jpg);

}

.secondary-2 {
    background-image: url(/images/desktop/image-photography.jpg);

}

.service-secondary_content {

    width: 50%;
    text-align: center;

}

.service-secondary_title {
    font-family: "Fraunces", sans-serif;
    color: var(--Dark-desaturated-cyan);
    margin-bottom: 1.5rem;
}

.service-secondary_description {
    color: var(--Dark-desaturated-cyan);
}

.service-secondary:last-child .service-secondary_title {
    color: var(--Very-dark-desaturated-blue);
}

.service-secondary:last-child .service-secondary_description {
    color: var(--dark-blue);
}


.testimonials {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hsla(7, 99%, 70%, 0.048);
    padding: 8rem 0;
}

.testimonials--title {
    width: fit-content;
    color: var(--Dark-grayish-blue);
    text-transform: uppercase;
    font-family: 'Fraunces', serif;
    letter-spacing: 5px;
}

.testimonials--body {
    width: 70%;
    display: flex;
    padding: 6rem 0;
}

.testimonial-client {
    text-align: center;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}

.testimonial-client img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.client_text {
    color: var(--Dark-grayish-blue);
}

.client--name {
    color: var(--Very-dark-desaturated-blue);
    font-weight: 900;
    margin-bottom: 1rem;
}

.client--role {
    font-family: "Barlow", sans-serif;
    color: var(--Dark-grayish-blue);
}


/* Projcts */
.projects {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(24vw, 1fr));
    background-color: #fff;
    color: #444;
    overflow: hidden;
}


.projcet__item {}

.projcet__item a {
    display: block;
    height: 100%;
}

picture {}

.project--img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Footer */
.footer {
    background: rgb(154, 228, 212);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding-top: 3rem;
    padding-bottom: 2rem;
}

.footer--logo path {

    fill: var(--Dark-desaturated-cyan);

}

.footer_item-link,
.footer_item-link:visited {
    color: var(--Dark-desaturated-cyan);
}

.footer a:hover {
    color: var(--White);
}

.social__links {
    display: flex;
    gap: 1.5rem;
    margin: 3rem 0;
}

/* .social__links--icon path {
    transition: all .5s ease-in-out;
} */

.social__links--icon:hover path {
    fill: var(--White);
}



@media screen and(max-width:1000px) {
    .top__nav--menu {
        gap: 1rem;
    }
}


@media screen and (max-width: 800px) {
    body {
        line-height: 2;
    }

    .toggler {
        display: inline-block;
    }

    .top__nav {
        position: relative;
    }

    .top__nav--menu {
        flex-direction: column;
        width: 50%;
        height: 100vh;
        background: rgb(154, 228, 212);
        position: absolute;
        top: 0;
        right: -50%;
        font-size: 2rem;
        padding: 2.5rem;
    }

    .hero {
        margin-top: 10vh;
        line-height: 1.5;
    }

    .hero--title {
        font-size: 3rem;
    }

    .services {
        grid-template-columns: 1fr;
        text-align: center;

    }

    .service {
        padding: 2rem 0;
        grid-template-columns: 1fr;
    }

    .services .service:nth-child(1) {
        grid-row: 2;
    }

    .service--title {
        width: 80%;
        line-height: 1;
    }

    .service--body {
        width: 80%;

    }

    .service--description_footer {
        margin: 1rem auto;
    }

    .testimonials--body {
        flex-direction: column;
    }

    .service-secondary {
        height: 80vh;
    }

    .service-secondary_bg {
        height: 100%;
    }
}